@import 'nib'

body
  // padding-top 60px
  // overflow hidden
  background url('../img/bg_main.png')

#main-container
  margin 0
  padding 0

blue
  color #1fb4da

aqua
  color #6ec8c7

green
  color #93c054

yellow
  color #ffbe00

orange
  color #f67d42

silver
  color #f1f1f1

gray
  color #d1d1d1