#term
  width 800px
  height 400px
  background-color #FFF
  position absolute
  top -350px
  border-radius 6px

  .term
    // background-color #93c054
    // background-color #aaeeff
    width 240px
    height 100px
    line-height 100px
    margin 70px 0 0px 20px
    border-radius 6px
    border solid 5px #aaeeff
    float left
    overflow hidden
    font-size 30px
    font-weight bold
    text-align center
    color #aaeeff

    span
      float left
      margin-left 25px

    .termx
      margin-left 140px
      width 100px
      height 45px
      line-height 45px
      font-size 16px
      font-weight bold
      text-align center
      color #aaeeff
      border solid 1px #aaeeff
      border-top none
      cursor pointer

    .termx:hover
      background-color #aaeeff
      color #fff

#menu
  width 800px
  height 600px
  background-color #FFF
  position absolute
  top -600px
  border-radius 6px
  padding 10px 30px

  .header
    height 50px
    line-height 50px
    font-size 20px
    // font-weight bold
    border-bottom 1px solid #1fb4da
    margin-bottom 30px
    color #1fb4da

  .menu
    background-color #aaeeff

    border-radius 4px
    height 40px
    line-height 20px
    float left
    margin-right 20px
    margin-bottom 20px
    padding 10px
    cursor pointer
    color #fff

  .menu:hover
    background-color #1fb4da



#right-menu
  width 50px
  height 600px
  background-color #FFF
  position absolute
  top 0px
  right -10px
  border-radius 6px
  padding 10px
  z-index 996

#left-menu
  width 250px
  height 600px
  background-color #FFF
  position absolute
  top 0
  left -10px
  border-radius 6px
  padding 10px
  z-index 997

#lesson-container
  width 800px
  height 50px
  background-color #1fb4da
  border-radius 6px

#bottom-menu
  width 800px
  height 50px
  background-color #FFF
  position absolute
  bottom -10px
  left 20%
  border-radius 6px
  padding 10px
  z-index 998


#pointer
  width 42px
  background-color #fff

  #tool-list
    border-bottom 1px solid #00c9fb

  #tool-option
    color #00c9fb
    font-size 8px
    margin-top 10px
    padding-top 10px
    border-top 1px solid #00c9fb

    .option
      margin-bottom 10px

      .color-picker
        width 40px
        height 20px
        border 2px outset #f1f1f1
        background-color #000



.p
  width 40px
  height 40px
  background url('../img/pointer_bg.png')

.p-pencil
  background-position 0 0

.p-line
  background-position 0 -40px

.p-rect
  background-position 0 -80px

.p-ellipse
  background-position 0 -120px

.p-undo
  background-position 0 -160px

.p-text
  background-position -40px 0

.p-arrow
  background-position -40px -40px

.p-rect-fill
  background-position -40px -80px

.p-ellipse-fill
  background-position -40px -120px

.p-clear
  background-position -40px -160px

.btn-no-padding
  padding 0
