#login
  width 400px
  height 270px
  background-color #FFF
  position fixed
  top -270px
  right 10%
  border-radius 6px

  form
    width 300px
    margin 50px auto

#register
  width 400px
  height 550px
  background-color #FFF
  position fixed
  top -370px
  right 10%
  border-radius 6px

  form
    width 300px
    margin 50px auto

  .user-info, .email-info, .pass-info, .pass2-info
    width 300px
    margin 0px auto 25px -15px


#platform, #course
  width 800px
  // height 350px
  height 280px
  background-color #FFF
  position absolute
  top -300px
  border-radius 6px

  #resource, #manage, #literature, #mathematic
    height 280px
    border-radius 6px

  #resource:hover, #manage:hover, #literature:hover, #mathematic:hover
    background-color #e2f9ff

  img
    width 240px
    margin 50px auto


