#menu
  .header
    | #{subject} #{term}
  .body
    .menu
      a(href="#/lesson/1") 1. 秋天来了
    .menu
      a(href="#/lesson/2") 2. 秋天又来了
    .menu
      a(href="#/lesson/3") 3. 秋天来了又走了
    .menu
      a(href="#/lesson/4") 4. 秋天来了
    .menu
      a(href="#/lesson/5") 5. 秋天又来了
    .menu
      a(href="#/lesson/6") 6. 秋天来了又走了
    .menu
      a(href="#/lesson/7") 7. 秋天来了
    .menu
      a(href="#/lesson/8") 8. 秋天又来了
    .menu
      a(href="#/lesson/9") 9. 秋天来了又走了