#register
  form.form-horizontal(role="form")
    .form-group
      input.user.form-control.input-lg(type="text", name="user", placeholder="用户名")
    .form-group
      input.email.form-control.input-lg(type="text", name="email", placeholder="Email")
    .form-group
      input.pass.form-control.input-lg(type="password", name="pass", placeholder="密码")
    .form-group
      input.pass2.form-control.input-lg(type="password", name="passcompare", placeholder="再次输入密码")
    .form-group
      a(href="#").btn.btn-success.btn-lg.col-md-12.login 注  册

  #info
