#term
  .term
    span 一年级
    .termx(data-number='11') 上册
    .termx(data-number='12') 下册
  .term
    span 二年级
    .termx(data-number='21') 上册
    .termx(data-number='22') 下册
  .term
    span 三年级
    .termx(data-number='31') 上册
    .termx(data-number='32') 下册
  .term
    span 四年级
    .termx(data-number='41') 上册
    .termx(data-number='42') 下册
  .term
    span 五年级
    .termx(data-number='51') 上册
    .termx(data-number='52') 下册
  .term
    span 六年级
    .termx(data-number='61') 上册
    .termx(data-number='62') 下册