//- #platform.panel.panel-info
//-   .panel-heading 
//-     strong 请选择平台
//-   .panel-body
#platform
  #resource.col-md-6(align='center')
    img(src='img/resource.png')
  #manage.col-md-6(align='center')
    img(src='img/manage.png')