#pointer
  #tool-list
    .btn.btn-no-padding(data-type="line",data-toggle="tooltip",data-placement="top",title="",data-original-title="画笔")
      .p.p-pencil
    .btn.btn-no-padding(data-type="linex",data-toggle="tooltip",data-placement="top",title="",data-original-title="直线")
      .p.p-line
    .btn.active.btn-no-padding(data-type="arrow",data-toggle="tooltip",data-placement="top",title="",data-original-title="箭头")
      .p.p-arrow
    .btn.btn-no-padding(data-type="rect",data-toggle="tooltip",data-placement="top",title="",data-original-title="矩形")
      .p.p-rect
    .btn.btn-no-padding(data-type="rectx",data-toggle="tooltip",data-placement="top",title="",data-original-title="填充矩形")
      .p.p-rect-fill
    .btn.btn-no-padding(data-type="ellipse",data-toggle="tooltip",data-placement="top",title="",data-original-title="圆")
      .p.p-ellipse
    .btn.btn-no-padding(data-type="ellipsex",data-toggle="tooltip",data-placement="top",title="",data-original-title="填充圆")
      .p.p-ellipse-fill
    .btn.btn-no-padding(data-type="text",data-toggle="tooltip",data-placement="top",title="",data-original-title="文字")
      .p.p-text
  .undo.btn.btn-no-padding(data-toggle="tooltip",data-placement="top",title="",data-original-title="撤销")
    .p.p-undo
  .clear.btn.btn-no-padding(data-toggle="tooltip",data-placement="top",title="",data-original-title="清屏")
    .p.p-clear

  #tool-option

  .quit.btn.btn-primary.btn-sm 退出